* {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 1440px;
    margin: 0 auto;
    display: flex; 
}  
.aside-block {
    width: 350px;
    background: black;
}
.main {
    width: 1090px;
}